# Stock Prediction

In [1]:
import requests
import pandas as pd

url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=TRU&outputsize=full&apikey=LH874IS71FCMQCAX'
json = requests.get(url).json()
df = pd.DataFrame.from_dict(json['Time Series (Daily)'], orient = 'index')
df.index = pd.to_datetime(df.index, format = '%Y-%m-%d')
df = df.rename(columns = {'1. open': 'Open', '2. high': 'High', '3. low': 'Low', '4. close': 'Close', '5. volume': 'Volume'})
df = df.astype({'Open': 'float64', 'High': 'float64', 'Low': 'float64','Close': 'float64','Volume': 'float64',})
df = df[['Open', 'High', 'Low', 'Close', 'Volume']]

In [2]:
df

             Open   High    Low  Close      Volume
2024-02-21  74.20  74.60  73.31  74.41   1166240.0
2024-02-20  74.50  74.99  73.75  74.60   1477619.0
2024-02-16  75.88  76.31  74.96  75.07   2742314.0
2024-02-15  77.74  78.99  76.47  76.79   1724638.0
2024-02-14  74.61  77.57  74.09  77.53   3792194.0
...           ...    ...    ...    ...         ...
2015-07-01  25.01  25.30  24.52  24.95    779997.0
2015-06-30  24.85  25.74  24.50  25.10    846487.0
2015-06-29  24.01  24.94  23.42  24.37   1871205.0
2015-06-26  25.49  25.89  24.75  24.85   3807885.0
2015-06-25  24.62  25.75  24.51  25.40  25922317.0

[2179 rows x 5 columns]